**/flake.lock
result
result-*
**/.cache/
**/__pycache__/
**/.ruff_cache/
**/.pytest_cache/
**/.mypy_cache/
**/.pyright/
**/.venv/
**/venv/
**/vendor/
**/.zig-cache/
**/zig-out/
**/.stack-work/
**/dist-newstyle/
**/build/
**/compile_commands.json
